<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Voto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('../static/img/bg_bbb.jpg');
            background-size: cover;
            background-position: center;
            color: black;
        }
    </style>
</head>

<body class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 mb-4 text-center">
            <h1 class="mt-5 mb-4" style="font-size: 2em; color: rgb(22, 50, 70);">SEU VOTO FOI ENVIADO!</h1>
            <img src="../static/img/{{ candidato.lower() }}.jpg" alt="{{ candidato }}" class="img-fluid mb-3">
            <p style="font-size: 2em; color: rgb(33, 26, 43);"><strong>Obrigado pela participação!</strong></p>
            <p style="font-size: 1em; color: rgb(33, 26, 43);"><strong>Percentual de votação de {{ candidato }} é de {{ votacao }}% dos votos.</strong></p>
        </div>
        <div class="col-md-6 mb-4 text-center mt-4">
            <canvas id="graficoPizza" width="400" height="400"></canvas>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        var ctx = document.getElementById('graficoPizza').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['{{ candidato }}', 'Outros'],
                datasets: [{
                    label: 'Percentual de votos',
                    data: [{{ votacao }}, {{ 100 - votacao }}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.95)',
                        'rgba(54, 162, 235, 0.95)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        fontSize: 18,
                        display: true,
                        text: 'Percentual de votos de {{ candidato }}'
                    }
                }
            }
        });
    </script>
</body>
</html>
